.roulette-wheel {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: url(../assets/roulette_1.jpg) no-repeat center/cover;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: visible;
    margin: 1em auto;
}

@media screen and (max-width: 375px) {
    body {
        padding: 0 20px;
    }
    .roulette-wheel {
        left: 30px;
        margin: 1em 0 0 2em;
    }
}

.layer-2,
.layer-3,
.layer-4,
.layer-5,
.ball-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.layer-2 {
    background-image: url(../assets/roulette_2.png);
    transform-origin: center;
    transition: transform 7s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.layer-3 {
    background-image: url(../assets/roulette_3.png);
}

.layer-4 {
    background-image: url(../assets/roulette_4.png);
}

.layer-5 {
    background-image: url(../assets/roulette_5.png);
}

.ball-container {
    transform-origin: center;
    transition: transform 7s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ball {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: radial-gradient(circle at 5px 5px, #fff, #444);
    box-shadow: 1px 1px 4px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -172px);
    transition: transform 3s linear 4s; /* 1s beweging, start na 4s */
}

.spinning-ball {
    transform: translate(
        -50%,
        -124px
    ); /* Eindpositie dichter bij het centrum */
}
